[user]
  name = Matt Sparks
  email = ms@quadpoint.org

[alias]
  ci = commit -a
  co = checkout
  st = status
  lg = log --stat --decorate
  lgg = log --graph --decorate --pretty=format:'%C(bold red)%h%Creset -%C(cyan)%d%Creset %s %C(cyan)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  praise = blame

[apply]
  whitespace = strip

[diff]
  renames = copy

[rebase]
  stat = true

[color]
  branch = true
  diff = true
  interactive = true
  status = true

[core]
  excludesfile = ~/.gitignore_global
