! URxvt
URxvt*color0:  #000000
URxvt*color1:  #cc0000
URxvt*color2:  #00cc00
URxvt*color3:  #cccc00
URxvt*color4:  #0000cc
URxvt*color5:  #cc00cc
URxvt*color6:  #00cccc
URxvt*color7:  #aaaaaa
URxvt*color8:  #333333
URxvt*color9:  #ff0000
URxvt*color10: #00ff00
URxvt*color11: #ffff00
URxvt*color12: #0099ff
URxvt*color13: #ff00ff
URxvt*color14: #00ffff
URxvt*color15: #ffffff

URxvt*colorBDMode: true
URxvt*colorBD: #ffffff
URxvt*background: black
URxvt*foreground: #A8A8A8
URxvt*cursorColor: yellow

URxvt*saveLines: 1000
URxvt*visualBell: true

URxvt*inheritPixmap: true
URxvt*tintColor: white
URxvt*shading: 20

URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollstyle: plain
URxvt*transparentScrollbar: true

URxvt*hideButtons: true
URxvt*transparentMenubar: true

URxvt*font: 6x13
URxvt*boldFont: 6x13


! XTerm
XTerm*color0:  #000000
XTerm*color1:  #cc0000
XTerm*color2:  #00cc00
XTerm*color3:  #cccc00
XTerm*color4:  #0000cc
XTerm*color5:  #cc00cc
XTerm*color6:  #00cccc
XTerm*color7:  #aaaaaa
XTerm*color8:  #333333
XTerm*color9:  #ff0000
XTerm*color10: #00ff00
XTerm*color11: #ffff00
XTerm*color12: #0099ff
XTerm*color13: #ff00ff
XTerm*color14: #00ffff
XTerm*color15: #ffffff

!XTerm*colorBDMode: 1
!XTerm*colorBD: white
XTerm*background: black
XTerm*foreground: #A8A8A8
XTerm*cursorColor: yellow

XTerm*font: 6x13
XTerm*boldFont: 6x13

XTerm*saveLines: 10000
XTerm*eightBitInput: false
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*visualBell: true

XTerm*geometry: 90x40
XTerm*utf8: 1
XTerm*locale: true
